/* Styles.css*/

body{
    background-color: #1F2739;
    font-family: 'impact', sans-serif;
}
h1 {
    font-size: 50px;
    margin-left: 15.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 300;
    text-align: center;
    color: #4DC3FA;
}

/* Login.html */
.login {
    font-family: 'impact', sans-serif;
    background-color: #1F2739;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login label {
    display: none;
}
.login #image img {
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin: 5%;
}
.login #logoname {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5%;
}
.login form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    text-align: center;
    position: relative;
}
.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 10px;
    position: relative;
    font-size: 25px;
}
.login input[type="submit"] {
    background-color: #3c8b3f;
    color: white;
    cursor: pointer;
}
.login input[type="submit"]:hover {
    background-color: #45a049;
}

/* Dashboard.html */
#botstable thead {
    display: table-header-group;
}

/* Commands.html */
#output {
    margin-top: 0.5%;
    margin-left: 15.5%;
    font-size: 16px;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Payload.html */
#payloadString {
    margin-left: 15.5%;
    color: white;
    border: 1px solid #ccc;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: 83.7%;
    word-wrap: break-word;
}
#copybutton button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 48%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;
    vertical-align: middle;
}
#copybutton button:hover {
    background-color: #45a049;
}
#forceConvertNote {
    margin-left: 65.5%;
    display: none;
    color: #a41010;
    font-size: 25px;
}

/* Sidebar */
.sidebar {
    font-family: 'impact', sans-serif;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4caf50;
    overflow-x: hidden;
    padding-top: 10px;
    text-align: left;
}
.sidebar a {
    padding: 3px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: flex;
    align-items: center;
}
.sidebar img.avatar {
    width: 25px;
    margin: 0 15px;
}
.sidebar img.logo {
    margin-left: 14%;
    width: 200px;
    margin-bottom: 2%;
}
.sidebar h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding: 5px;
    border: 1px solid white;
    border-width: 3px;
    border-radius: 10px;
    line-height: 0.75em;
    text-align: center;
    color: #981616;
}
.sidebar a.selected {
    background-color: #3a893e;
}
.sidebar a.logout {
    background-color: #317334;
}
.sidebar a:hover {
    background-color: #409744;
}

/* Search-Form */
.search-form {
    font-family: 'Impact', sans-serif;
    margin-left: 15.5%;
    margin-top: 0.5%;
    text-align: center;
}
.search-form label {
    font-size: 30px;
    vertical-align: middle;
    margin: 0 10px;
    color: white;
}
.search-form input[type="number"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 3%;
    width: 78%;
    box-sizing: border-box;
}

/* Form styles */
.form {
    top: 0; left: 0;
    width: 83.5%;
    margin-left: 15.5%;
    margin-top: 0.5%;
    display: flex;
    flex-wrap: wrap;
  }
  .form input[type="text"],
  .form input[type="number"],
  .form input[type="select"] {
    width: 320px;
    height: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
  .form select {
    width: 320px;
    height: 35px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
  .form input[type="text"]:focus,
  .form input[type="number"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .form input[type="checkbox"] {
    margin: 0 10px;
    transform: scale(2);
    vertical-align: middle;
  }
  .form label {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
    margin: 0 10px;
    color: white;
  }
  .form button[type="submit"] {
    background-color: #4CAF50;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 265px;
    height: 35px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
  }
  .form button[type="submit"]:hover {
    background-color: #3e8e41;
  }

/* Tables */
.table {
    font-family: 'Impact', sans-serif;
    background-color: #1F2739;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    margin-left: 8.25%;
    width: 91.25%;
    display: table;
    margin-top: 0.5%;
}
.table tbody tr {
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    padding-bottom: 5px;
    padding-top: 5px;
}
.table tr {
    background-color: #4e5e7e;
}
.table th {
    font-size: 20px;
    text-align: center;
    background-color: #27324a;
    color: yellow;
    padding: 8px;
}
.table tbody tr td:nth-child(1) {
    color: #950014;
}
.table tbody tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 4px 4px -4px #0E1119;
    -moz-box-shadow: 0 4px 4px -4px #0E1119;
    box-shadow: 0 4px 4px -4px #0E1119;
}
.table tbody tr:hover td {
    background-color: yellow;
    font-weight: bold;
    transform: translate3d(4px, -4px, 0);
    transition-delay: 0s;
    transition-duration: 0.35s;
    transition-property: all;
    transition-timing-function: line;
}
