 <!-- File_Transfer.html -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <link rel="shortcut icon" href="../static/Lion.png" type="image/png">
     <title>FIXER - File Transfer</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
 </head>
 <body>
     <div class="sidebar">
         <img src="{{ url_for('static', filename='Lion.png') }}" alt="Logo" class="logo">
         <h1>FIXER BOTNET</h1>
         <a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='dashboard_icon.png') }}" alt="Dashboard Icon" class="avatar"> Dashboard</a>
         <a href="{{ url_for('payload') }}"><img src="{{ url_for('static', filename='payload_icon.png') }}" alt="Payload Icon" class="avatar"> Payload</a>
         <a href="{{ url_for('modules') }}"><img src="{{ url_for('static', filename='modules_icon.png') }}" alt="Modules Icon" class="avatar"> Modules</a>
         <a href="{{ url_for('commands') }}"><img src="{{ url_for('static', filename='commands_icon.png') }}" alt="Commands Icon" class="avatar"> Commands</a>
         <a href="{{ url_for('ping') }}"><img src="{{ url_for('static', filename='danger_icon.png') }}" alt="DDOS Ping Icon" class="avatar"> DDOS Ping</a>
         <a href="{{ url_for('file_transfer') }}" class="selected"><img src="{{ url_for('static', filename='file_transfer_icon.png') }}" alt="File Transfer Icon" class="avatar"> File Transfer</a>
         <a href="{{ url_for('logout') }}" class="logout"><img src="{{ url_for('static', filename='logout_icon.png') }}" alt="Logout Icon" class="avatar"> Logout</a>
     </div>
     <div class="form">
        <form id="form" method="GET" name="form">
            <div class="dropdown" style="width: 150px;">
                <select id="transferType" name="transferType">
                    <option value="download">DOWNLOAD FILE</option>
                    <option value="upload">UPLOAD FILE</option>
                </select>
            </div>
            <label for="idNumber">BOT-ID:</label>
            <input type="text" id="idNumber" name="idNumber" placeholder="Enter BOT-ID" required>
            <label for="fileName">FILE:</label>
            <input type="text" id="fileName" name="fileName" placeholder="Enter File Name" required>
            <button type="submit" id="submit" style="width: 160px;">TRANSFER</button>
        </form>
     </div>
     <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>BOT ID</th>
                    <th>HOSTNAME</th>
                    <th>TRANSFER TYPE</th>
                    <th>FILE NAME</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody id="Module_Output_Status_Table">
                {% for task in transfer[::-1] %}
                    <tr>
                    <td>{{ task.idNumber }}</td>
                    <td>{{ task.hostname | default('N/A') }}</td>
                    <td>{{ task.transfer_type }}</td>
                    <td>{{ task.file_name }}</td>
                    <td>{{ task.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        setInterval(function () { window.location.href = window.location.origin + window.location.pathname; }, 30000);
    </script>
 </body>
 </html>
