 <!-- Login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/Lion.png" type="image/png">
    <title>FIXER - LOGIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body  class="login">
        <form id="Login" method="post" name="Login">
            <div id="image">
                <img src="../static/Lion.png" alt="Logo" id="avatar">
                <div id="logoname">FIXER BOTNET</div>
            </div>
            <div>
                <input type="text" id="username" placeholder="Username" name="userid"/>
                <input type="password" id="password" placeholder="Password" name="passid"/>
                <input type="submit" id="submit" value="LOGIN">
            </div>
        </form>
</body>
</html>
