<!-- Payload.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/Lion.png" type="image/png">
    <title>FIXER - Payload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='Lion.png') }}" alt="Logo" class="logo">
        <h1>FIXER BOTNET</h1>
        <a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='dashboard_icon.png') }}" alt="Dashboard Icon" class="avatar"> DASHBOARD</a>
        <a href="{{ url_for('payload') }}" class="selected"><img src="{{ url_for('static', filename='payload_icon.png') }}" alt="Payload Icon" class="avatar"> PAYLOAD</a>
        <a href="{{ url_for('modules') }}"><img src="{{ url_for('static', filename='modules_icon.png') }}" alt="Modules Icon" class="avatar"> MODULES</a>
        <a href="{{ url_for('commands') }}"><img src="{{ url_for('static', filename='commands_icon.png') }}" alt="Commands Icon" class="avatar"> COMMANDS</a>
        <a href="{{ url_for('ping') }}"><img src="{{ url_for('static', filename='danger_icon.png') }}" alt="DDOS Ping Icon" class="avatar"> DDOS PING</a>
        <a href="{{ url_for('file_transfer') }}" class="selected"><img src="{{ url_for('static', filename='file_transfer_icon.png') }}" alt="File Transfer Icon" class="avatar"> FILE TRANSFER</a>
        <a href="{{ url_for('logout') }}" class="logout"><img src="{{ url_for('static', filename='logout_icon.png') }}" alt="Logout Icon" class="avatar"> LOGOUT</a>
    </div>
    <div class="form">
        <form id="form" method="get" name="form">
            <label for="serverIP">SERVER-IP:</label>
            <input type="text" id="serverIP" name="serverIP" required>
            <label for="port">SERVER-PORT:</label>
            <input type="number" id="port" name="port" required>
            <label for="forceConvert">FORCE EXECUTABLE:</label>
            <input type="checkbox" id="forceConvert" name="forceConvert">
            <button type="submit" id="submit">GENERATE PAYLOAD</button>
        </form>
    </div>
    <div>
        <h1>PAYLOAD</h1>
        <div id="forceConvertNote">NOTE : Conversion of Python file to an Executable File may take some Time. Please Be Patient</div>
        <div id="payloadString">{{ string }}</div>
        <div id="copybutton"><button onclick="copyPayload()">COPY</button></div>
    </div>
    <script>
        function copyPayload() {
            const payloadString = document.getElementById('payloadString');
            const range = document.createRange();
            range.selectNode(payloadString);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            alert('Payload string copied!');
        }
        document.getElementById('forceConvert').addEventListener('change', function() {
            if (this.checked) {
                document.getElementById('forceConvertNote').style.display = 'block';
                document.getElementById('forceConvertNote').style.marginLeft = '420px';
            } else {
                document.getElementById('forceConvertNote').style.display = 'none';
            }
        });
    </script>
</body>
</html>
